form input[type="number"] {
  width: 100%;
  max-width: 350px;
  min-width: 200px;
  padding: 6px 15px;
  margin-right: 20px;
  border-radius: 3px;
  border: 1px solid #ccc;
  font-size: 16px;
}
form input[type="number"]:hover {
  box-shadow: inset 0px 0px 5px #00f;
}
form .form-group {
  padding: 7px;
}
form button {
  background: #0063b0;
  color: #fff;
  cursor: pointer;
  padding: calc(.375em - 1px) 20px;
  text-align: center;
  vertical-align: bottom;
  font-size: 16px;
  white-space: nowrap;
  height: 32px;
  border: 0;
  border-radius: 3px;
  margin: 0 5px;
}
form button:hover {
  background: #209cee;
}

.result-values {
  padding: 20px 0;
}

.result-values__item {
  padding: 3px;
}